# Python
venv/
__pycache__/
*.pyc

# Node
node_modules/
frontend/dist/

# Data & Models (too large for GitHub)
data/raw/
data/processed/
models/*.pth
models/*.pkl

# Environment secrets
.env
kaggle.json

# OS files
.DS_Store
Thumbs.db